<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Database='yiliangyijia';Data Source='localhost';User Id='root';Password='';charset='utf8';pooling=true" />
  </connectionStrings>
  <appSettings>
    <!--日志文件记录路径-->
    <add key="logPath" value="Log"/>
    <!--服务执行间隔时间，单位秒-->
    <add key="interval" value="60"/>
    <!--员工目录-->
    <add key="employeePath" value="F:\Temporary\Cache\Dictionary\员工\"/>
    <!--启用提醒的员工编号，以英文的逗号“,”分隔，最后一个不跟逗号-->
    <add key="empNumberEnable" value="004,005,006,007,008,009,010,011"/>
    <!--修改记录文件夹名称-->
    <add key="modifyRecordFolderName" value="修改记录"/>
    <!--任务到期前多少小时提醒，以英文的逗号“,”分隔，最后一项不跟逗号-->
    <add key="overdueInterval" value="3,2,1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<system.runtime.remoting>
    <application name="RemoteServer">
      --><!--这里配置内存回收--><!--
      <lifetime leaseTime="40M" sponsorshipTimeOut="3600S" renewOnCallTime="3600S" leaseManagerPollTime="100S"></lifetime>
    </application>
  </system.runtime.remoting>-->
</configuration>