<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Database='yiliangyijia';Data Source='localhost';User Id='root';Password='';charset='utf8';pooling=true;Old Guids=true;" />
  </connectionStrings>
  <appSettings>
    <!--日志文件记录路径-->
    <add key="logPath" value="Log"/>
    <!--服务执行间隔时间，单位秒-->
    <add key="interval" value="60"/>
    <!--服务执行间隔时间2，单位秒-->
    <add key="interval2" value="60"/>
    <!--服务执行间隔时间3，单位秒-->
    <add key="interval3" value="900"/>
    <!--新任务分配目录，最后一级目录名后要跟反斜杠“\”-->
    <add key="taskAllotmentPath" value="F:\Temporary\Cache\Dictionary\客服\新任务未分配\"/>
    <!--新的学生任务分配目录里，最后一级目录名后要跟反斜杠“\”-->
    <add key="studentTaskAllotmentPath" value="F:\Temporary\Cache\Dictionary\员工\学生未分配\"/>
    <!--员工目录-->
    <add key="employeePath" value="F:\Temporary\Cache\Dictionary\员工\"/>
    <!--是否启用任务自动分配，0：关闭；1：开启。-->
    <add key="enableAutoAllotment" value="0"/>
    <!--启用提醒的员工编号（这里是启用新任务、新修改任务、任务完成的提醒，不是分配任务的员工提醒），以英文的逗号“,”分隔，最后一个不跟逗号-->
    <add key="empNumberEnable" value="A001,A002,A003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024,C025,C026,C027,C028,C029,C030,C031,C032,C033,C034,C035,C036,C037,C038,C039,C040,C041,C042,C043,C044,C045,C046,C047,D006,E006"/>
    <!--修改记录文件夹名称-->
    <add key="modifyRecordFolderName" value="修改记录"/>
    <!--疑问文件夹名-->
    <add key="questionFolderName" value="疑问记录"/>
    <!--任务到期前多少小时提醒，以英文的逗号“,”分隔，最后一项不跟逗号-->
    <add key="overdueInterval" value="3,2,1" />
    <!--钉钉消息接收者的钉钉ID（管理员钉钉userId）-->
    <add key="adminDingdingID" value="083837256338737962"/>
    <!--钉钉企业应用id，这个值代表以哪个应用的名义发送消息。77369217是公告的应用id-->
    <add key="agentid" value="77369217"/>
    <!--审批 Process Code-->
    <add key="SmartWorkProcessCode" value="PROC-FF6YLZF1N2-93JIKB89QALIU2KTWPFB3-AHUQXEZI-P1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<system.runtime.remoting>
    <application name="RemoteServer">
      --><!--这里配置内存回收--><!--
      <lifetime leaseTime="40M" sponsorshipTimeOut="3600S" renewOnCallTime="3600S" leaseManagerPollTime="100S"></lifetime>
    </application>
  </system.runtime.remoting>-->
</configuration>